<div id="controls">
	<div id="ctrls">
		<div id="loop_controls">
			<label id="lbl_loop1">
			Loop Song
			<input id="loop1" type="radio" name="rd" value="1" />
			</label>
			<label id="lbl_loop9">
			Loop Playlist
			<input id="loop9" type="radio" name="rd" value="9" />
			</label>
		</div>
		<button id="play">Play</button>
		<button id="stop">Stop</button>
		<button id="next">Next</button>
		<button id="previous">Previous</button>
	</div>
</div>