<div id="details">
	Album: <span id="album_details"><%= album %></span>
	Year: (<span id="year_details"><%= year %></span>)<br />
	Artist: <span id="artist_details"><%= artist %></span><br />
	Song: <span id="song_details"><%= song %></span>
</div>