<div id="details">
	Album: <span id="album_details"></span>
	Year: (<span id="year_details"></span>)<br />
	Artist: <span id="artist_details"></span><br />
	Song: <span id="song_details"></span>
</div>