<div id="details">
	<div id="time"><span id="current">0:00</span>/<span id="duration">0:00</span></div>
	<div id="year">Year: (<span id="year_details"><%= year %></span>)</div>
	<div id="album">Album: <span id="album_details"><%= album %></span></div>
	<div id="artist">Artist: <span id="artist_details"><%= artist %></span></div>
	<div id="song">Song: <span id="song_details"><%= song %></span></div>
</div>