<!DOCTYPE html>
<html>
<head>
	<% include headers %>
</head>
<body>
	<div id="jukebox">
		<% include bgimg %>
		<% include controls %>
		<% include media %>
		<% include details %>
		<% include upload %>
		<% include selectSong %>
	</div>
</body>
</html>