<div id="div_upload">
	<form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType='multipart/form-data'>
		<input id="uploadSong" type="file" name="uploadSong" />
		<button id="remove">Remove Selected</button>
		<button id="upload">Upload Song</button>
	</form>
</div>